window#waybar {
  /* background-color: rgba(30, 34, 42, 0.5); */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}
#workspaces button {
  /* font-weight: bolder; */
  font-size: 17px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: transparent;
  color: #5e81ac;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  padding: 0 7px;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #bf616a;
}

#workspaces button.active {
  color: #c68a75;
  background: #64727d;
  /* border-bottom: 3px solid; */
  box-shadow: inset 0 -3px black;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button.hidden {
  color: #2a2e38;
  border-bottom: 3px solid transparent;
}

#workspaces button.visible {
  box-shadow: 2px 2px 6px 1px black;
  color: #2a2e38;
  background-color: #5a5d5f;
  /* border-radius: 15px; */
  border: none;
}

#taskbar button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #ffffff;
}

#taskbar button.active {
  background: #64727d;
}

#taskbar button.minimized {
  font-style: italic;
}

#taskbar button.maximized {
  font-style: oblique;
}

#hyprland.window {
  font-style: italic;
  background-color: transparent;
}

#mode {
  background-color: #64727d;
}

label:focus {
  background-color: #000000;
}

#upower,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#bluetooth,
#custom-language,
#custom-powermenu,
#clock {
  background-color: #31353f;
  padding: 2px 8px;
  margin-top: 5px;
  margin-bottom: 7px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
}

#clock {
  color: #abb2bf;
  font-weight: bold;
}

#bluetooth.connected {
  color: #42A5F2;
}

#bluetooth.on {
  color: #abb2bf;
}

#upower.charging {
  color: #a3be8c;
}

#upower.discharging {
  color: #abb2bf;
}

#mpd {
  color: #ffffff;
}

#cpu {
  color: #ff5555;
}

#memory {
  background-color: #9b59b6;
}

#pulseaudio {
  color: #b48ead;
}

#pulseaudio.muted {
  color: #f53c3c;
}

#pulseaudio.bluetooth {
  color: #42A5F2;
}

#temperature {
  color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#network {
  color: #88c0d0;
}

#network.disconnected {
  background-color: #f53c3c;
}

#tray {
  background-color: transparent;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: transparent;
  color: #2d3436;
}

#idle_inhibitor.activated {
  color: #808080;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}
