
/* dracula */

(
    selected_tab: Some(Rgb(255, 255, 0)),
    command_fg: Some(Rgb(248, 248, 242)),
    selection_bg: Some(Rgb(98, 114, 164)),
    cmdbar_extra_lines_bg: Some(Rgb(40, 42, 54)),
    disabled_fg: Some(Rgb(98, 114, 164)),
    diff_line_add: Some(Rgb(80, 250, 123)),
    diff_line_delete: Some(Rgb(255, 85, 85)),
    diff_file_added: Some(Rgb(105, 255, 148)),
    diff_file_removed: Some(Rgb(255, 110, 110)),
    diff_file_moved: Some(Rgb(255, 146, 223)),
    diff_file_modified: Some(Rgb(241, 250, 140)),
    commit_hash: Some(Rgb(189, 147, 249)),
    commit_time: Some(Rgb(164, 255, 255)),
    commit_author: Some(Rgb(80, 250, 123)),
    danger_fg: Some(Rgb(255, 85, 85)),
    push_gauge_bg: Some(Rgb(40, 42, 54)),
    push_gauge_fg: Some(Rgb(248, 248, 242)),
)

